.logo {
    width: 120px;
    height: 40px;
}
.icon {
    width: 20px;
    height: 20px;
}
.flex{
    display: flex;
}
.tab {
    height: 50px;
    display: flex;
    align-items: center;
}